<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>TFT Remix Rumble Music Mixer</title>
	<!-- Import style -->
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/element-plus/dist/index.css"/>
	<!-- Import Vue 3 -->
	<script src="//cdn.jsdelivr.net/npm/vue@3"></script>
	<!-- Import component library -->
	<script src="//cdn.jsdelivr.net/npm/element-plus"></script>
	<script src="//cdn.jsdelivr.net/npm/vue-i18n@9"></script>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
<div id="app">
	<div class="background-image"></div>
	<div class="background-darken"></div>
	<h1>{{ $t('title') }}</h1>
	<h2>{{ $t('description') }}</h2>
	<div>
		<label><strong><h4>{{ $t('volume') }}:</h4></strong></label>
    <div class="slider-demo-block" style="width: 300px">
      <el-slider v-model="globalVolume" show-input @change="setGlobalVolume"></el-slider>
    </div>
	</div>
	<div class="toggle">
		<input type="checkbox" id="realTime" @click="setRealTime()"/>
		<label for="realTime">{{ $t('realTime') }} </label>
	</div>
	<div class="toggle">
		<input type="checkbox" id="repeat" @click="setRepeat()">
		<label for="repeat">{{ $t('repeat') }}</label>
	</div>
	<button class="btn btn-success" @click="playSelectedTracks()">{{ $t('playSelectedTracks') }}</button>
	<button class="btn btn-secondary" @click="stopAllTracks()">{{ $t('stopAllTracks') }}</button>
	<button class="btn btn-warning" @click="randomSelectTracks()">{{ $t('randomSelectTracks') }}</button>
	<button class="btn btn-warning" @click="randomSelectEarlyTracks()">{{ $t('randomSelectEarlyTracks') }}</button>
	<button class="btn btn-warning" @click="randomSelectLateTracks()">{{ $t('randomSelectLateTracks') }}</button>
	<button class="btn btn-danger" @click="clearAllSelections()">{{ $t('clearAllSelections') }}</button>
	<button class="btn btn-info" @click="generateShareableLink()">{{ $t('generateShareableLink') }}</button>
	<button class="btn btn-info" @click="exportDialogVisible = true">{{ $t('exportSelections') }}</button>
	<button class="btn btn-info" @click="importDialogVisible = true">{{ $t('importSelections') }}</button>
<!--	<button @click="tweetMix()" class="btn btn-primary"><i class="fab fa-twitter"></i> Tweet Mix</button>-->
	<div class="alert alert-success" id="copyNotification" style="display:none; position: fixed; bottom: 20px; right: 20px;">
		<strong>URL Copied to Clipboard</strong>
	</div>
	<hr>
	<div class="container">
		<div class="main-content">
			<div class="trait-container">
				<div class="trait" v-for="(trait, index) in traits" :key="index">
					<img :src="trait.icon" :alt="trait.name">
					<h3>{{ $t(trait.name) }}</h3>
						<el-checkbox-group
							v-for="(track, index) in trait.tracks"
							:key="track.id"
							v-model="trait.selectedId"
						>
							<el-checkbox
								:class="track.class"
								:id="track.id"
								:label="track.label"
								:value="track.id"
								:name="track.id"
								style="color: white"
								@change="changeTrack(track)"
							>
							</el-checkbox>
							<audio
								:id="'audio' + track.id"
								:src="track.src"
								preload="none"
								loop>
							</audio>
						</el-checkbox-group>
				</div>
			</div>
		</div>
		<div class="community-presets">
			<h3>Reddit Community Presets</h3>
			<ul>
				<li v-for="(preset,index) in presets" :key="index">
					<button type="button" @click="applyPreset(preset.data)">{{ preset.name }}</button>
				</li>
			</ul>
		</div>
	</div>
	<hr>
	<div class="trait">
		<h3>Other Tracks</h3>
			<el-checkbox-group v-for="(track,index) in otherTracks" :key="index" v-model="selectedOtherTracks">
				<el-checkbox
								:class="track.class"
								:id="track.id"
								:label="track.label"
								:value="track.id"
								:name="track.id"
								style="color: white"
								@change="changeTrack(track)"
				>
				</el-checkbox>
				<audio :id="'audio' + track.id" :src="track.src" preload="none" loop></audio>
			</el-checkbox-group>
			<br>
	</div>
	<hr>
	<el-dialog
		v-model="exportDialogVisible"
		:title="$t('exportSelections')"
		width="500"
		:before-close="handleClose"
	>
		<span>{{ selectedTracks }}</span>
		<template #footer>
			<div class="dialog-footer">
				<el-button type="primary" @click="exportDialogVisible = false">
					Confirm
				</el-button>
			</div>
		</template>
	</el-dialog>
	<el-dialog
			v-model="importDialogVisible"
			:title="$t('importSelections')"
			width="500">
		<el-input v-model="importText"></el-input>
		<template #footer>
			<div class="dialog-footer">
				<el-button @click="importDialogVisible = false">Cancel</el-button>
				<el-button type="primary" @click="doImport">
					Confirm
				</el-button>
			</div>
		</template>
	</el-dialog>
</div>
<script type="module" src="app.js"></script>
</body>
</html>
